<footer class="footer bg-light py-5 mt-auto">
  <div class="container">
    <strong><div>Martin Pham</div></strong>
    <div><a style="text-decoration: none; color: rgb(0, 96, 185);" href="martin-pham.com">Portfolio</a></div>
    <div><a style="text-decoration: none; color: rgb(0, 96, 185);" href="https://www.linkedin.com/in/martin-pham-dev/">LinkedIn</a></div>
    <div><a style="text-decoration: none; color: rgb(0, 96, 185);" href="https://github.com/mpham-12/">Github</a></div>
    <div>martinpham.dev@gmail.com</div>
  </div>
</footer>