<% layout('/layouts/boilerplate') %> 

  <h1>BEACHES CREATE FORM</h1>
  <form action="/beaches" method="POST">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="title">
      <label for="floatingInput">Beach Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="image">
      <label for="floatingInput">Image URL</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="location">
      <label for="floatingInput">City, State</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="latitude">
      <label for="floatingInput">Latitude</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="longitude">
      <label for="floatingInput">Longitude</label>
    </div>
    <div class="form-floating">
      <textarea class="form-control" id="floatingTextarea" name="description"></textarea>
      <label for="floatingTextarea">Description</label>
    </div>
  
  <button>Create</button>
  </form>
  <a href="/beaches">Back</a>




  