<% layout('/layouts/boilerplate') %>

  <h1>BEACHES CREATE FORM</h1>
  <form class="needs-validation" action="/beaches" method="POST" novalidate enctype="multipart/form-data">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="title" required>
      <label for="floatingInput">Beach Name</label>
      <div class="valid-feedback">Looks good!</div>
    </div>
    <input type="file" name="image" id="">
    <!-- <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="image" required>
      <label for="floatingInput">Image URL</label>
      <div class="valid-feedback">Looks good!</div>
    </div> -->
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="location" required>
      <label for="floatingInput">City, State</label>
      <div class="valid-feedback">Looks good!</div>
    </div>

    <div class="form-floating">
      <textarea class="form-control" rows="6" style="height:100%;" id="floatingTextarea" name="description"
        required></textarea>
      <label for="floatingTextarea">Description</label>
      <div class="valid-feedback">Looks good!</div>

    </div>

    <button>Create</button>
  </form>
  <a href="/beaches">Back</a>


