<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <h1>BEACHES CREATE FORM</h1>
  <form action="/beaches" method="POST">
  <input type="text" name="title" id="title" placeholder="title">
  <input type="text" name="location" id="location" placeholder="city, state">
  <input type="text" name="latitude" id="latitude" placeholder="latitude">
  <input type="text" name="longitude" id="longitude" placeholder="longitude">
  <textarea cols="50" rows="10"  name="description" id="description" placeholder="description"> </textarea>
  <button>Create</button>
  </form>
</body>

</html>